@import '../abstract/variables';

.contact {
    color: $color3;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 800px;

    h3 {
        font-size: 2em;
    }


    fieldset {
        border-radius: 5px;
        margin: 20px;
        background-color: $color5;
        border: 1px solid $color4;

        form {
            margin: 12px;

            p {
                margin: 10px 0px;
                text-align: left;

                label {
                    font-size: 1.5em;
                    margin: 5px;
                }

                input,
                textarea {
                    border-radius: 8px;
                    background-color: $color5;
                    border: 1px solid $color4;
                    outline: none;
                    padding: 10px;
                    color: $color1;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1em;
                    margin-top: 5px;
                    width: 95%;
                    resize: none;
                    @include transition;

                    &:focus {
                        border: 1px solid $color3;
                    }

                    &::placeholder {
                        color: $color4;
                    }
                }

                .button {
                    background-color: $color5;
                    color: $color4;
                    width: 100%;
                    align-items: center;
                    cursor: pointer;
                    @include transition;

                    &:hover {
                        background-color: $color4;
                        color: $color5;
                        
                    }
                }
            }
        }
    }


}