@import '../abstract/variables';

.contact {
    color: $color2;

    h2 {
        font-size: 2em;
    }


    fieldset {
        border: 1px solid $color3;
        margin: 15px;
        height: 550px;
        background-color: $color0;

        form {
            margin: 12px;

            p {
                margin: 10px 0px;
                text-align: left;

                label {
                    font-size: 1.5em;
                    margin: 5px;
                }

                input,
                textarea {
                    border-radius: 8px;
                    background-color: $color1;
                    border: 1px solid $color1;
                    outline: none;
                    padding: 10px;
                    color: $color8;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1em;
                    margin-top: 5px;
                    width: 95%;
                    resize: none;
                    @include transition;

                    &:focus {
                        border: 1px solid $color3;
                        
                    }
                }

                .button {
                    background-color: $color3;
                    cursor: pointer;
                    @include transition;

                    &:hover {
                        background-color: #1e768a;
                        
                    }
                }
            }
        }
    }
}