@import '../abstract/variables';

.contact {
    color: $color2;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 800px;

    h3 {
        font-size: 2em;
    }


    fieldset {
        border-radius: 2px;
        margin: 20px;
        background-color: $color5;
        border: none;
        box-shadow: 1px 1px 10px #0000001f;

        form {
            margin: 12px auto;

            p {
                margin: 10px 0px;
                text-align: left;

                label {
                    font-size: 1.5em;
                    margin: 5px;
                }

                input,
                textarea {
                    border-radius: 8px;
                    background-color: $color5;
                    border: 1px solid $color2;
                    outline: none;
                    padding: 10px;
                    color: $color3;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 1.1em;
                    margin-top: 5px;
                    width: 95%;
                    resize: none;
                    @include transition;

                    &:focus {
                        border: 1px solid $color3;
                    }

                    &::placeholder {
                        color: #ffffff;
                    }
                }

                .button {
                    background-color: $color2;
                    color: $color5;
                    width: 98%;
                    margin: auto;
                    align-items: center;
                    cursor: pointer;
                    @include transition;

                    &:hover {
                        background-color: $color3;
                    }

                    &:active {
                        background-color: $color1;
                        border: 1px solid $color1;
                    }
                }
            }
        }
    }


}