@import '../abstract/variables';

footer {
    background-color: $color2;
    text-align: center;
    padding: 10px;

    nav {
        
        a {
            color: $color5;
            text-decoration: none;
            font-size: 1.5em;
            margin: 5px;
            

            @include transition;

            &:hover {
                font-size: 1.3em;
            }
        }
    }

    p {
        color: $color5;
        margin-top: 15px;
    }
}