@import '../abstract/variables';

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: end;
    align-items: center;

    .change-theme {
        margin: 15px;
        align-self: baseline;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        color: $color4;
        @include transition;

        &:hover {
            color: $color3;
        }
    }

    .burguer_menu {
        display: flex;
        flex-direction: column;
        align-items: end;

    i {
        padding: 15px;
        font-size: 2em;
        color: $color4;
        cursor: pointer;
        @include transition;

        &:hover {
            color: $color3;
        }
    }

    .menu {
        text-align: right;
        font-size: 1.4em;
        margin: 0px;

        ul {
            list-style-type: none;
            margin: 0px;
        }

        li {
            padding: 15px;

            a {
                text-decoration: none;
                color: $color4;
                @include transition;

                &:hover {
                    color: $color3;
                }
            }
        }

    }
    }


}

@media screen and (min-width: 768px) {
    ul {
        display: flex;
        flex-direction: row;
    }   
        
}