@import '../abstract/variables';

.projects {
    padding: 50px 0px;
    h3 {
        font-size: 2.5em;
    }

    .project {
        @include project(column);

        img {
            width: 80%;
            max-width: 800px;
            margin: auto;
            border-radius: 5px;
        }

        .project-container {
            
            @include project(column);

            h4 {
                font-size: 1.5em;
                color: $color3;
                margin: 0px;
            }

            p {
                padding: 15px 0px;
                text-align: justify;
                max-width: 800px;
                margin: 20px auto;
            }

            a {
                align-self: center;
                background-color: $color4;
                border-radius: 30px;
                text-align: center;
                width: 50%;
                max-width: 400px;
                text-decoration: none;
                color: $color5;
                padding: 5px;
                @include transition;

                &:hover {
                    background-color: $color3;
                }
            }
        }
    }

}