@import '../abstract/variables';

.projects {
    padding: 50px 0px;
    h3 {
        font-size: 2.5em;
    }

    .project {
        @include project(column);
        box-shadow: 1px 1px 10px #0000001f;
        border-radius: 2px;
        width: 80%;
        max-width: 800px;
        margin: 50px auto;
        padding-top: 50px;

        img {
            width: 90%;
            max-width: 800px;
            margin: auto;
            border-radius: 2px;
        }

        .project-container {
            
            @include project(column);

            h4 {
                font-size: 1.5em;
                color: $color2;
                margin: 0px;
            }

            p {
                padding: 15px 0px;
                text-align: justify;
                max-width: 800px;
                margin: 20px auto;
            }

            a {
                align-self: center;
                background-color: $color2;
                border-radius: 30px;
                text-align: center;
                width: 50%;
                max-width: 400px;
                text-decoration: none;
                color: $color5;
                padding: 5px;
                @include transition;

                &:hover {
                    background-color: $color3;
                }

                &:active {
                    background-color: $color1;
                }
            }
        }
    }

}