@import './variables';

html, body {
    font-family: $default-font;
    background-color: $color5;
    color: $color1;
    scroll-behavior: smooth;
    line-height: 2em;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0;

    h3 {
        color: $color3;
        text-transform: uppercase;
        font-family: $display-font;
    }
    
    
    @include transition;

        main {
            text-align: center;
            margin: 20px auto;

            #go-up {
                color: $color3;
                cursor: pointer;
               
                &:hover {
                    color: $color3;
                }
            }
        }
}

