@import './variables';

html, body {
    font-family: $default-font;
    background-color: $color1;
    color: $color4;
    scroll-behavior: smooth;
    font-size: 1em;
    box-sizing: border-box;

        main {
            text-align: center;
        }   
}

