@import './variables';

//amanhã ajeitar as cores dos botões e hover/active deles no darkmode 

.dark-mode {
    background-color: $color4;
    color: $color5;



    section {    

        h1 {
            color: $color2;
        }

        .project {
            box-shadow: 1px 1px 10px #0000007c;
            .project-container {
                h4 {
                    color: $color2;
                }

                a {
                    background-color: $color2;

                    &:hover {
                        background-color: $color3;
                    }

                    &:active {
                        background-color: $color1;
                    }
                }
            }
        }

        .skills {
            background-color: $color4;
            box-shadow: 1px 1px 10px #0000007c;
            
            .developer {
                h3, li {
                    color: $color5;
                }

                h4 {
                    color: $color2;
                }
            }
        }

    }

    .about {
        .introduction {
            background-color: $color1;
        }
    }

    .contact {
        fieldset {
            background-color: $color4;
            box-shadow: 1px 1px 10px #0000007c;
            color: $color5;

            input,
            textarea {
                border: 1px solid $color1;
                background-color: $color4;
                color: $color5;

                &:focus {
                    border: 1px solid $color2;
                }

                &::placeholder {
                    color: #ffffff8e;
                }
            }

        }
    }

    footer {
        background-color: $color1;
    }
}