//FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald&display=swap');

@font-face {
  font-family: 'Semplicita';
  src: url('../fonts/semplicita/Semplicita/Semplicita\ Light.otf') format('opentype');
}



$default-font: 'Montserrat', sans-serif;
$display-font: 'Oswald', sans-serif;

//COLORS

$color0: #0b0b0e;
$color1: #381460;
$color2: #6c32af;
$color3: #189676;
$color4: #79cab6;
$color5: #f5f5f5;
$color6: #151520;



//FUNCTIONS

@mixin gradient {
  background-image: linear-gradient(to right, #A0EFFF, #CAA0E6, #FFA1AE);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin dark-mode {
  color: $color2;

  &:hover {
    color: $color1;
  }

}

@mixin line {
  .line {
    border-bottom: 1px solid $color3;
    margin: 20px;
  }
}

@mixin project($direction) {
    margin: 0px 10px 50px 10px;
    padding: 10px;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
}

@mixin transition {
  transition: all .2s;
}