//FONTS
@font-face {
    font-family: 'Majanan';
    src: url('../fonts/majanan/Majanan.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Semplicita';
    src: url('../fonts/semplicita/Semplicita/Semplicita\ Light.otf') format('opentype');
  }

  $default-font: Semplicita, sans-serif;
  $header-font: Majanan, sans-serif;

//COLORS

    $color0: #0b0b0e;
    $color1: #141419; 
    $color2: #A0EFFF;
    $color3: #124955;
    $color4: #CAA0E6;
    $color5: #341E43; 
    $color6: #FFA1AE;
    $color7: #55131C;
    $color8: #e2e1e4;
    $color9: #f1eef4;


//FONT SIZES

    $default-font-size: 1em;