@charset "UTF-8";

@font-face {
  font-family: 'Majanan';
  src: url('../fonts/majanan/Majanan.otf') format('opentype');
}

@font-face {
  font-family: 'Semplicita';
  src: url('../fonts/semplicita/Semplicita/Semplicita\ Light.otf') format('opentype');
}

:root {
  --color0: #0b0b0e;
  --color1: #141419; /* lighter #E8E8ED*/
  --color2: #A0EFFF;
  --color3: #124955;
  --color4: #CAA0E6;
  --color5: #341E43; 
  --color6: #FFA1AE;
  --color7: #55131C;
  --color8: #e2e1e4; /*darker #493030*/
  --color9: #f1eef4;

  --default-font: Semplicita, Helvetica, sans-serif;
  --main-font: Majanan, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  font-family: var(--default-font);
  background-color: var(--color1);
  color: var(--color6);
  font-weight: lighter;
  min-height: 100vh;
  font-size: 2em;
}

header {
  background-color: var(--color0);
  
}

header > img {
  position: relative;
  width: 90px;
  display: block;
  text-align: left;
  
}

#burguer {
  display: block;
  text-align: right;
  padding: 15px 35px;
  cursor: pointer;
  font-size: 1.5em;
}

#burguer:hover {
  color: var(--color2);
  transition: all .3s ease-in-out;
}

menu {
  text-align: right;
  display: none;
  font-size: 1em;
}

menu > ul {
  list-style-type: none;
  padding: 10px 20px;
  
}

menu > ul > li > a {
  display: block;
  text-decoration: none;
  color: var(--color4);
  padding: 15px;
  
}

menu > ul > li > a:hover {
  text-decoration: underline solid 1px;
}

main {
  text-align: center;
}

.home {
  display: flex;
  
}

.home > h1 {
  background-image: linear-gradient( to right, #A0EFFF, #CAA0E6, #FFA1AE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  padding: 20px;
  width: 40%;
  font-size: 1.4em;
  flex: 50%;
}

.home > img {
  width: 50%;
  height: auto;
  flex: 50%;
}

.about {
  display: block;
}

