@charset "UTF-8";

@font-face {
  font-family: 'Majanan';
  src: url('fonts/majanan/Majanan.otf') format('opentype');
}

@font-face {
  font-family: 'Semplicita';
  src: url('fonts/semplicita/Semplicita/Semplicita\ Light.otf') format('opentype');
}

:root {
  --color0: #0f0f13;
  --color1: #141419; /* lighter #E8E8ED*/
  --color2: #A0EFFF;
  --color3: #124955;
  --color4: #CAA0E6;
  --color5: #341E43; 
  --color6: #FFA1AE;
  --color7: #55131C;
  --color8: #e2e1e4; /*darker #493030*/
  --color9: #f1eef4;

  --default-font: Semplicita, Helvetica, sans-serif;
  --main-font: Majanan, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.08em;
}

header {
  background-color: var(--color0);
  height: 110px;
}

header > menu {
  background-image: linear-gradient( to right, #A0EFFF, #CAA0E6, #FFA1AE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 35px 0px 0px 50px;
  flex-direction: row;
  float: right;
}

menu > a {
  text-decoration: none;
  color: var(--color1);
  margin: 40px;
}

header > img {
  width: 80px;
  float: left;
  padding: 10px 0px 10px 50px;
}

.menu {
  display: none;
}

.menu img {
  filter: invert(85%) sepia(24%) saturate(4048%) hue-rotate(202deg) brightness(96%) contrast(87%);
  width: 30px;
  float: right;
}

@media only screen and (max-width: 600px) {
  .menu {
    display: block;
  }

  nav > a {
    display: none;
  }
}

body {
  font-family: var(--default-font);
  background-color: var(--color1);
  color: var(--color6);
  font-weight: lighter;
  min-height: 100vh;
  text-align: center;
}


.home {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.home > h1 {
  background-image: linear-gradient( to right, #A0EFFF, #CAA0E6, #FFA1AE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 40vw;
  height: 50%;

}

.home img {
  width: 400px;
  height: auto;
}















/*DARK MODE DEPOIS EU ARRUMO*/

.light {
  background-color: var(--color8);
  color: var(--color3);
}

.light header {
  background: var(--color9);

}

.light nav {
  background-image: linear-gradient( to right, var(--color3), var(--color5), var(--color7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .home > h1 {
  background-image: linear-gradient( to right, var(--color3), var(--color5), var(--color7));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light #theme {
  content: url(images/lightmode.png);
  filter: invert(71%) sepia(6%) saturate(2383%) hue-rotate(304deg) brightness(100%) contrast(101%);
}